<div class="col py-3">
  <h1>Dashboard#index</h1>
  <p>Find me in app/views/dashboard/index.html.erb</p>
  <%= button_to 'Sair', destroy_usuario_session_path, data: { turbo_method: "delete" },method: :delete, class:"btn btn-danger" %></div>
</div>
