<%= render 'shared/navbar' %>
<div class="container-lg ">
  <div class="row">
    <div class="col-12 p-3">
      <p>Painel</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 p-3">

      <div class="col-12 p-3" id="descricao">
        <h3 class="text-primary">Descrição da Aplicação</h3>
        <p>Essa aplicação web é um processador de arquivos, que visa processar arquivos de notas fiscais do tipo xml, ou arquivo zip contendo xml
          e  deste processamento, gerar um relatório que possa ser visualizado, filtratdo e exportado em excel.
        </p>
        <p>
          Além disso o sistema salva os arquivos enviados e salva filtros feitos.
        </p>
      </div>

      <div class="col-12 p-3" id="utilizacao">
        <h3 class="text-primary">Como utilizar</h3>
        <p>Para a utilizar o aplicativo é necessário se logar no sistema, caso não possua um usuário é necessário
          um cadastro, sendo necessários para o cadastro o nome,email, senha e numero de identificação.
        </p>

        <p>
          Uma vez logado o usuário pode
          <ul>
            <li>Visualizar e Editar seus dados cadastratais como senha e email</li>
            <li>Enviar seus arquivos </li>
            <li>Visualizar os seus arquivos enviados </li>
            <li>Exportar os arquivos</li>
          </ul>
        </p>
      </div>

      <div class="col-12 p-3" id="tecnologias">
        <h3 class="text-primary">Tecnologias</h3>
        <p>A aplicação foi densenvolvida em Ruby on Rails.</p>
      </div>
    </div>

  </div>
</div>
