<nav class="navbar navbar-expand-lg navbar-light  d-flex justify-content-around ">
  <a class="navbar-brand" href="#">Mainô</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link text-primary" href="#descricao">Descrição</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-primary" href="#utilizacao">Como Utilizar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-primary" href="#tecnologias">Tecnologias Utilizadas</a>
    </li>
  </ul>
  <%= link_to 'Entrar no Sistema',dashboard_index_path, class:"btn btn-success"  %>
</nav>