<div id="<%= dom_id documento %>">
  <p>
    <strong>Titulo:</strong>
    <%= documento.titulo %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= documento.usuario_id %>
  </p>

  <p>
    <strong>Arquivo:</strong>
    <%= documento.arquivo %>
  </p>

</div>
